<html>

<head>


    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>
    <div>
        <div>
            {% if brand %}
            <div class="row">
                <p> This image most likely belongs to <strong>{{brand}}</strong>
            </div>
            <div class="row">
                <div class="column">
                    <img src="/static/output/bar.png" style="width:100%">
                </div>
                <div class="column">
                    <img src="/static/output/origin_image.png" style="width:100%">
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    </div>
    </div>
</body>

</html>